@page "/form"
@inherits FormPageBase

<h1>Weather forecast</h1>

<p>Some forms controls to play with.</p>

<EditForm Model="@Person" OnValidSubmit="@HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name: </label>
        <InputText Id="name" Class="form-control" @bind-Value="@Person.Name"></InputText>
        <ValidationMessage For="@(() => Person.Name)" />
    </div>
    <div class="form-group">
        <label for="description">Description: </label>
        <InputTextArea Id="description" Class="form-control" @bind-Value="@Person.Description"></InputTextArea>
        <ValidationMessage For="@(() => Person.Description)" />
    </div>
    <div class="form-group">
        <label for="age">Age: </label>
        <InputNumber Id="age" Class="form-control" @bind-Value="@Person.Age"></InputNumber>
        <ValidationMessage For="@(() => Person.Age)" />
    </div>
    <div class="form-group">
        <label for="street">Street: </label>
        <InputText Id="street" Class="form-control" @bind-Value="@Person.Address.Street"></InputText>
        <ValidationMessage For="@(() => Person.Address.Street)" />
    </div>
    <div class="form-group">
        <label for="postNumber">Post Number: </label>
        <InputText Id="postNumber" Class="form-control" @bind-Value="@Person.Address.PostNumber"></InputText>
        <ValidationMessage For="@(() => Person.Address.PostNumber)" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>